
@tailwind base;
@tailwind components;
@tailwind utilities;






body{
  user-select: none;

}

.work {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.play{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

